*{
	padding: 0;
	margin: 0;
}

img{
	width: 100%;
}

body{
	background-color: #eee;
	font-size: 18px;
	font-family: 'oswald',sans-serif;
	margin: 20px;
}

.container{
	display: grid;
	grid-gap: 5px;
}

/* header */

.header{
	order: 2;
	display: grid;
	grid-gap: 5px;
	grid-template-areas: 
	'hero hero feature-1'
	'hero hero feature-2'
}

.hero{
	grid-area: hero;
	min-height: 450px;
	padding: 30px;
	border-radius: 10px;
	background-image: url(image/mkn2.png);
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 0 0 5px #333;
}

.hero > * {
	display: none;
	color: #fff;
	text-shadow: 0 0 5px #aaa;
}

.hero h2{
	font-size: 40px;
	font-family: impact;
	letter-spacing: 3px;
}

.hero p{
	font-size: 25px;
	font-family: verdana;
}

.features{
	display: grid;
	place-content: center;
	text-align: center;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	border: 2px solid #222;
}

.fe-1{
	background-image: url(image/mkn3.png);
	background-size: cover;
	background-position: center;
}

.fe-2{
	background-image: url(image/mkn1.png);
	background-size: cover;
	background-position: center;
}

.features h4{
	font-weight: bold;
	font-size: 40px;
	text-shadow: 0 0 10px #999;
}

.features p{
	font-weight: bold;
	font-size: 25px;
	text-shadow: 0 0 10px #999;
}

/* navigation */

.navigasi{
	order: 1;
	display: grid;
	grid-gap: 100px;
	grid-template-columns: 1fr 2.5fr;
	font-weight: bold;
	margin: 10px 0;
	border-radius: 10px;
}

.navigasi h2{
	padding: 5px 0;
	font-family: fantasy;
	font-size: 1.5em;
	letter-spacing: 2px;
	color: #f00;
	border: 2px solid #111;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 0 5px #333;
}

.navigasi .menu{
	border-radius: 10px;
	font-size: .6em;
	list-style: none;
	background-color: #111;
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr) );
	box-shadow: 0 0 5px #333;
}

.menu a{
	text-decoration: none;
	text-align: center;
	color: #eee;
}

/* services */

.services{
	order: 4;
	margin-top: 10px;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
}

.sub-section{
	order: 3;
	margin: 20px 0;
}

.sub h2{
	grid-column: 1 / -1;
	text-align: center;
	font-family: fantasy;
	font-size: 2em;
	padding: 5px;
	border-bottom: 1px solid #111;
	text-shadow: 0 0 4px #555;
}

.service{
	display: grid;
	justify-items: center;
	padding: 20px;
	background-color: #fff;
	text-align: center;
	border-radius: 10px;
	border: 2px solid #111;
	box-shadow: 0 0 5px #222;
	cursor: pointer;
}

.service .icon{
	width: 50px;
	height: 50px;
	margin: 10px;
	font-size: 30px;
	font-weight: bold;
	font-family: impact;
	border-radius: 50%;
	background-color: #555;
	color: #fff;
	border: 2px solid #111;
	text-align: center;
	line-height: 50px;
	box-shadow: 0 0 5px #666;
}

.service h2{
	margin: 10px 0;
	border-bottom: 1px solid #111;
	border-radius: 10px;
	padding: 5px;
}

.service p{
	font-size: 13px;
	font-family: verdana;
}

/* gallery */

.gallery{
	order: 6;
	grid-gap: 5px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gallery img{
	border-radius: 10px;
	border: .5px solid #222;
}

.sub-section1{
	order: 5;
	margin: 20px 0;
}


/* footer */

footer{
	order: 7;
	background-color: #111;
	color: #eee;
	font-size: .7em;
	margin: 20px 0;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
}

/* responsive */

@media (max-width: 1000px){
	.header{
		order: 1;
	}

	.navigasi{
		order: 2;
		grid-template-columns: 1fr;
		margin: 10px 0;
	}

	.navigasi h2{
		display: none;
	}

	ul.menu li{
		padding: 20px 0;
	}

	.hero > *{
		display: flex;
	}
	.services{
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr) );
	}
}

@media (max-width: 700px){
	.header{
		order: 2;
		grid-template-areas: 
		'hero'
		'feature-1'
		'feature-2';
	}

	.navigasi{
		order:  1;
	}

	.features{
		min-height: 250px;
		background-size: cover;
		background-position: center;
	}

	.services{
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
	}

@media (max-width: 500px){
	.features{
		min-height: 150px;
		background-size: cover;
		background-position: center;
	}

	.navigasi .menu{
		font-size: .6em;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	.services{
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
	}
}















